[submodule "pack/plugins/start/base16-vim"]
	path = pack/plugins/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/plugins/start/vim-indent-guides"]
	path = pack/plugins/start/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = git@github.com:itchyny/lightline.vim
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = git@github.com:ervandew/supertab
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = git@github.com:godlygeek/tabular
[submodule "pack/plugins/start/vim-sensible"]
	path = pack/plugins/start/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule "pack/plugins/start/vim-trailing-whitespace"]
	path = pack/plugins/start/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = git@github.com:vimwiki/vimwiki
