[submodule "pack/plugins/start/base16-vim"]
	path = pack/plugins/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = git@github.com:ervandew/supertab
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = git@github.com:godlygeek/tabular
[submodule "pack/plugins/start/vim-sensible"]
	path = pack/plugins/start/vim-sensible
	url = git@github.com:tpope/vim-sensible
[submodule "pack/plugins/start/vim-trailing-whitespace"]
	path = pack/plugins/start/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = git@github.com:vimwiki/vimwiki
[submodule "pack/plugins/start/vim-virtualenv"]
	path = pack/plugins/start/vim-virtualenv
	url = git@github.com:plytophogy/vim-virtualenv
[submodule "pack/plugins/start/vim-orgmode"]
	path = pack/plugins/start/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "pack/plugins/start/speeddating"]
	path = pack/plugins/start/speeddating
	url = https://tpope.io/vim/speeddating.git
[submodule "pack/plugins/start/calendar-vim"]
	path = pack/plugins/start/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
